body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* AddNote and Note.js component */

.note-footer-text {
  font-size: 12px;
}

/* AddNote component */

.note.new {
  background-color: #b2ffff;
}

textarea {
  background-color: #b2ffff;
  resize: none;
  border: none;
}

textarea:focus {
  outline: none;
}

.error {
  font-size: 12px;
  color: #ed1c24;
}

/* in Note.js component */
.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcffa4;
  padding: 0.5rem;
  min-height: 200px;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* in NotesList.js component */

.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5rem;
}

/* in App.js */

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
